<br>
<h1 style="margin-left: 50px;">My Resolutions</h1>

 <div class="card-body">
  <% @resolutions.each do |resolution| %>
    <div class="card m-5">
        <div class="card-header">
        <div class="card-body">
        <blockquote class="blockquote mb-3">


            <div>
            <strong>Ticket :</strong>
            <%= resolution.ticket_id %>
            </div>

            <div>
            <strong>Resolution:</strong>
            <%= resolution.resolution_comment %>
            </div>

            <div>
            <strong>Status:</strong>
            <%= resolution.resolved %>
            </div>

 
<br>
            <div class="d-grid gap-2 col-6 mx-auto">
                <%= link_to "Ver Resolution", resolution_path(resolution), class:"btn btn-secondary" %>
            </div>
            </div>

        </blockquote>
        </div>
        </div> 
    </div>
<% end %>
</div>
</div>
</ul>




