
<h1 style="margin-left: 50px;">New user</h1>
<div class="card m-5">
<div class="card-header">
<div class="card-body">

<%= render "form", user: @user %>

<br>


<div class="d-grid gap-2 col-3 ">
  <%= link_to "Back to users", users_path , class:"btn btn-secondary"%>

</div>
<br>