<div id="<%= dom_id user_resolution %>">
  <p>
    <strong>User:</strong>
    <%= user_resolution.user_id %>
  </p>

  <p>
    <strong>Resolution:</strong>
    <%= user_resolution.resolution_id %>
  </p>

</div>
