<h1>Editing user resolution</h1>

<%= render "form", user_resolution: @user_resolution %>

<br>

<div>
  <%= link_to "Show this user resolution", @user_resolution %> |
  <%= link_to "Back to user resolutions", user_resolutions_path %>
</div>
