<p style="color: green"><%= notice %></p>

<h1 style="margin-left: 50px;">Resolutions</h1>




  <% @resolutions.each do |resolution| %>
 
      <div class="card-header">
      <div class="card-body">
          <blockquote class="blockquote mb-1">
              <%= render resolution %>

            <div class="d-grid gap-2 col-6 mx-auto">
              <%= link_to "Show this resolution", resolution , class:"btn btn-secondary" %>
            </div>

          </blockquote>
        </div>
        </div>
  <% end %>

<div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to "New resolution", new_resolution_path, class:"btn btn-primary" %>
</div>

<br>
