<br>
<h1 style="margin-left: 50px;">New resolution</h1>

<div class="card m-5">
<div class="card-header">
<div class="card-body">
<%= render "form", resolution: @resolution %>

<br>


<div class="d-grid gap-1 col-3 ">
  <%= link_to "Back to resolutions", resolutions_path, class:"btn btn-secondary"  %>
</div>
