<div id="<%= dom_id user_comment %>">
  <p>
    <strong>User:</strong>
    <%= user_comment.user_id %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= user_comment.ticket_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= user_comment.body %>
  </p>

</div>
