
<br>
<h1 style="margin-left: 50px;">New  comment</h1>
<div class="card m-5">
<div class="card-header">
<div class="card-body">
  <%= render "form", user_comment: @user_comment %>

<br>

<div class="d-grid gap-1 col-2 ">
  <%= link_to "Back to user comments", my_replies_user_path(current_user), class:"btn btn-secondary" %>
</div>
